<%- include('partials/start') %>
<%- include('partials/nav') %>

<section class="py-5">
  <div class="container py-5 text-center">
    <div class="row">
      <div class="col-md-8 col-xl-6 mx-auto">
        <h1 class="fw-bold display-1 text-danger">500</h1>
        <h2 class="fw-bold">Lỗi máy chủ</h2>
        <p class="text-muted">Xin lỗi, đã xảy ra lỗi trên máy chủ. Vui lòng thử lại sau.</p>
        <a class="btn btn-primary shadow mt-3" href="/">Quay về trang chủ</a>
      </div>
    </div>
  </div>
</section>

<%- include('partials/footer') %>
<%- include('partials/end') %>