<%- include('partials/start') %>
<%- include('partials/nav') %>

<div class="container col-xxl-8 px-4 py-5">
  <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
    <div class="col-10 col-sm-8 col-lg-6">
      <img src="/img/leo-messi-nemeziz-19.webp" class="d-block mx-lg-auto img-fluid rounded shadow" alt="Messi" width="700" height="500">
    </div>
    <div class="col-lg-6">
      <h1 class="display-5 fw-bold lh-1 mb-3 text-success">Đặt hàng thành công</h1>
      <p class="lead">Cảm ơn bạn đã mua sắm tại Reus sport. Đơn hàng của bạn đã được xác nhận và đang được xử lý.</p>
      <div class="d-grid gap-2 d-md-flex justify-content-md-start">
        <button type="button" class="btn btn-outline-secondary btn-lg px-4 me-2">Kiểm tra đơn hàng</button>
        <button type="button" class="btn btn-outline-primary btn-lg px-4 me-md-2">Quay về trang chủ</button>
      </div>
    </div>
  </div>
</div>

<%- include('partials/footer') %>
<%- include('partials/end') %>