<section class="py-5">
    <div class="container text-center py-5">
        <p class="mb-4" style="font-size: 1.4rem;">
            Phân phối chính hãng tại Việt Nam
        </p>
        <img class="m-3" src="img/brands/adidas.png">
        <img class="m-3" src="img/brands/dong-luc.png">
        <img class="m-3" src="img/brands/nike.png">
        <img class="m-3" src="img/brands/mizuno.png">
        <img class="m-3" src="img/brands/wika.png">
        <img class="m-3" src="img/brands/zocker.png"></a>
    </div>
</section>